*
!*.cpp
!*.h
!*.md
!*.json
!*.yml
!*.sh
!*.csv
!*.mp4

!videos
!maps
!CMakeLists.txt
!units
!unit_testing
!.github/workflows
!.gitignore
!Makefile
!Dockerfile
!docker
!docker/doxygen
!docker/multiple_tests